h2 {
    font-size: 2vw;
}
button {
    height: 30px;
    width: 23%;
    margin: auto;
    font-size: 1vw;
    text-align: center;
}
#contenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
#boutons {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#sapin {
    width: 100%;
    align-self: center;
}
#rouge {
    background-color: orangered;
}
#vert {
    background-color: lawngreen;
}
#orange {
    background-color: coral;
}
#bleu {
    background-color: cyan;
}